<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yoyo.yobutton"
    >
    <!-- 悬浮窗的权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 下拉菜单的权限 -->
    <permission android:name="android.permission.STATUS_BAR" />
    <!-- 获得近期任务的权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 启动辅助服务的权限 -->
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"/>
    <!-- 控制通知栏的权限 -->
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.DISABLE_STATUS_BAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

      <!--  <service
            android:name=".FloatViewService"
            android:enabled="true"
            android:exported="true"></service>-->

        <service
            android:name=".FloatViewService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice" />
        </service>

    </application>

</manifest>